.featured {
    height: 90vh;
    position: relative;
}

.featured img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: wheat;
    display: flex;
    flex-direction: column;
}

.featured .info .desc {
    margin: 20px 0;
}

.featured .info .buttons {
    display: flex;
}

.featured .info .buttons button {
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
}